*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.readMore{
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
}

.Cards{
    transition: all ease-in-out 0.5s;
}

.Cards button{
    transition: all ease-in-out 0.5s;
}

.Cards:hover{
    scale: 1.05;
}
